body {
  padding: 0 2rem;
  margin: 2rem;
}

.content {
  max-width: 500px;
  margin: auto;
}

.nes-container:not(:last-child) {
  margin-bottom: 1rem;
}

div.containers > .nes-container {
  display: inline-block;
  max-width: 400px;
}

.form.nes-container > .nes-field:not(:last-child) {
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
}
.footer a {
  color: #333;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
    margin: 2rem 0.2rem;
  }
}
